{% extends "front.base.html" %}

{% block body %}
    <div class="section section-header section-header-about">
        <div class="parallax filter filter-color-black">
            <div class="image"
                style="background-image:url('../../static/front/img/header-13.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <h1>About Our Church</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h5 class="subtitle text-gray">Est. 1853</h5>
                        <h2>Who we are</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-team">
        <div class="container">
            <div class="text-area">
                <div class="title-area">
                    <h2>Leaders</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis. Pellentesque eu, pretium quis, sem. </p>
                </div>
            </div>
            <div class="team">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_1.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_4.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_3.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_5.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_2.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../../static/front/img/faces/face_6.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Someone</h3>
                                            <p class="small-text">There role</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end team -->
        </div>
    </div>
{% endblock %}